// COLORS


//	NAVBAR
//-- USER LOGO
$navbar-user-logo-width: 35px;
$navbar-user-logo-height: 35px;
$navbar-user-logo-background: rgb(0, 38, 255);
$navbar-user-logo-color: rgb(255, 255, 255);
$navbar-user-logo-border-radius: 50%;
